<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ url_for('home.index') }}" class="navbar-brand">LL:SIF DB</a>
		</div>

		<div class="collapse navbar-collapse" id="header-nav-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Database <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ url_for('cards.index') }}">Cards</a></li>
						<li><a href="{{ url_for('cards.appeals_index') }}">Appeals</a></li>
						<li><a href="{{ url_for('cards.skills_index') }}">Skills</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('accounts.index') }}">Accounts</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if logged_in %}
					<li><a href="{{ url_for('security.logout') }}">Logout</a></li>
				{% else %}
					<li><a href="{{ url_for('security.login') }}">Login</a></li>
					<li><a href="{{ url_for('security.register') }}">Register</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
