{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>New Card</h1>
<form action="{{ url_for('cards.store') }}" method="post" role="form">
	{{ form.hidden_tag() }}

	{# Primary metadata #}
	<div class="row">
		<div class="col-md-1">{{ f.field(form.id) }}</div>
		<div class="col-md-7">{{ f.field(form.name) }}</div>
		<div class="col-md-2">{{ f.field(form.attribute) }}</div>
		<div class="col-md-2">{{ f.field(form.rarity) }}</div>
	</div>

	{# States #}
	{% for state in (form.normal, form.idolised,) %}
		{{ state.hidden_tag() }}
		<div class="row">
			<div class="col-md-1">
				<strong>{{ state.label }}:</strong>
			</div>
			<div class="col-md-1">{{ f.field(state.hp) }}</div>
			<div class="col-md-1">{{ f.field(state.smile) }}</div>
			<div class="col-md-1">{{ f.field(state.pure) }}</div>
			<div class="col-md-1">{{ f.field(state.cool) }}</div>
			<div class="col-md-3">{{ f.field(state.icon) }}</div>
			<div class="col-md-4">{{ f.field(state.image) }}</div>
		</div>
	{% endfor %}

	{# Skills #}
	<div class="row">
		<div class="col-md-4">{{ f.field(form.skill) }}</div>
		<div class="col-md-2">
			<label>&nbsp;</label>
			<a href="#" class="btn btn-default btn-block">Add new skill</a>
		</div>
		<div class="col-md-4">{{ f.field(form.appeal) }}</div>
		<div class="col-md-2"><div class="form-group">
			<label>&nbsp;</label>
			<a href="#" class="btn btn-default btn-block">Add new appeal</a>
		</div></div>
	</div>

	{# Submit #}
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
</form>
{% endblock %}