{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>{{ mode|capitalize }} Card</h1>
<form action="" method="post" role="form" enctype="multipart/form-data" >
	{{ form.hidden_tag() }}

	{{ f.errors(form) }}

	{# Primary metadata #}
	<div class="row">
		<div class="col-md-1">{{ f.field(form.id) }}</div>
		<div class="col-md-7">{{ f.field(form.name) }}</div>
		<div class="col-md-2">{{ f.field(form.attribute) }}</div>
		<div class="col-md-2">{{ f.field(form.rarity) }}</div>
	</div>

	{# States #}
	{% for state in (form.normal_state, form.idolised_state,) %}
		{{ state.hidden_tag() }}
		<div class="row">
			<div class="col-md-1">
				<strong>{{ state.label }}:</strong>
			</div>
			<div class="col-md-1">{{ f.field(state.hp) }}</div>
			<div class="col-md-1">{{ f.field(state.smile) }}</div>
			<div class="col-md-1">{{ f.field(state.pure) }}</div>
			<div class="col-md-1">{{ f.field(state.cool) }}</div>
			<div class="col-md-3">{{ f.field(state.icon) }}</div>
			<div class="col-md-4">{{ f.field(state.image, disabled=True) }}</div>
		</div>
	{% endfor %}

	{# Skills #}
	<div class="row">
		<div class="col-md-4">{{ f.field(form.skill) }}</div>
		<div class="col-md-4">{{ f.field(form.appeal) }}</div>
		<div class="col-md-4">{{ f.field(form.availability) }}</div>
	</div>

	{# Submit #}
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
</form>
{% endblock %}