{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>{{ mode|capitalize }} Card</h1>
<form action="" method="post" role="form">
	{{ form.hidden_tag() }}

	{% if form.errors %}
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{% for field, errors in form.errors.iteritems() %}
				<strong>{{ field|capitalize }}:</strong>
				{% if errors|length == 1 %}
					{{ errors[0] }}
				{% else %}
					<ul>
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	{# Primary metadata #}
	<div class="row">
		<div class="col-md-1">{{ f.field(form.id) }}</div>
		<div class="col-md-7">{{ f.field(form.name) }}</div>
		<div class="col-md-2">{{ f.field(form.attribute) }}</div>
		<div class="col-md-2">{{ f.field(form.rarity) }}</div>
	</div>

	{# States #}
	{% for state in (form.normal_state, form.idolised_state,) %}
		{{ state.hidden_tag() }}
		<div class="row">
			<div class="col-md-1">
				<strong>{{ state.label }}:</strong>
			</div>
			<div class="col-md-1">{{ f.field(state.hp) }}</div>
			<div class="col-md-1">{{ f.field(state.smile) }}</div>
			<div class="col-md-1">{{ f.field(state.pure) }}</div>
			<div class="col-md-1">{{ f.field(state.cool) }}</div>
			<div class="col-md-3">{{ f.field(state.icon) }}</div>
			<div class="col-md-4">{{ f.field(state.image) }}</div>
		</div>
	{% endfor %}

	{# Skills #}
	<div class="row">
		<div class="col-md-4">{{ f.field(form.skill) }}</div>
		<div class="col-md-2">
			<label>&nbsp;</label>
			<a href="#" class="btn btn-default btn-block">Add new skill</a>
		</div>
		<div class="col-md-4">{{ f.field(form.appeal) }}</div>
		<div class="col-md-2"><div class="form-group">
			<label>&nbsp;</label>
			<a href="#" class="btn btn-default btn-block">Add new appeal</a>
		</div></div>
	</div>

	{# Submit #}
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
</form>
{% endblock %}