{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block context %}Database/{% endblock %}
{% block title %}Cards{% endblock %}

{% block content %}
<div class="card-grid clear">
	{% for card in cards %}
		{#
		Yes, this is horrendous.
		Yes, I could probably avoid it by refactoring the join in the DB.
		No, I'm not about to do that.
		#}

		{% for state_name in ['normal_state', 'idolised_state'] %}
			{% set state = card|attr(state_name) %}
			<div class="card" data-card="{{ card.id }}">
				{% if state.icon %}
					<img src="{{ card_images.url(state.icon) }}">
				{% endif %}
				<div class="caption {{ card.attribute }} {{ state.rarity.short_name|lower|strip('+') }}">
					<span class="left">{{ card.id }}</span>
					<span class="right">{{ state.rarity.short_name }}</span>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</div>
{% endblock %}
