{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>Cards</h1>

<table class="table table-bordered sortable">
	<thead>
		<tr>
			<th colspan="4"></th>
			<th colspan="4">Unidolised (max level)</th>
			<th colspan="4">Idolised (max level)</th>
			<th colspan="{% if logged_in %}3{% else %}2{% endif %}"></th>
		</tr>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Attribute</th>
			<th>Rarity</th>
			<th>HP</th>
			<th>Smile</th>
			<th>Pure</th>
			<th>Cool</th>
			<th>HP</th>
			<th>Smile</th>
			<th>Pure</th>
			<th>Cool</th>
			<th>Appeal</th>
			<th>Centre Skill</th>
			{% if logged_in %}<th></th>{% endif %}
		</tr>
	</thead>
	{% if logged_in %}
		<tfoot>
			<tr>
				<td colspan="15">
					<a href="{{ url_for('cards.create') }}" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-plus"></span> Add new card
					</a>
				</td>
			</tr>
		</tfoot>
	{% endif %}
	<tbody>
		{% for card in cards %}
			<tr>
				<td>{{ card.id }}</td>
				<td>{{ card.name }}</td>
				<td>{{ card.attribute|capitalize }}</td>
				<td>{{ card.normal_state.rarity.name }}</td>
				<td>{{ card.normal_state.hp }}</td>
				<td>{{ card.normal_state.smile }}</td>
				<td>{{ card.normal_state.pure }}</td>
				<td>{{ card.normal_state.cool }}</td>
				<td>{{ card.idolised_state.hp }}</td>
				<td>{{ card.idolised_state.smile }}</td>
				<td>{{ card.idolised_state.pure }}</td>
				<td>{{ card.idolised_state.cool }}</td>
				<td>{{ card.appeal.name }}</td>
				<td>{{ card.skill.name }}</td>
				{% if logged_in %}
					<td>
						<a href="{{ url_for('cards.edit', card=card.id) }}" class="btn btn-info btn-xs">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						{{ f.delete_button(delete_form(), url_for('cards.delete', card=card.id)) }}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
