{% extends "base.html" %}

{% block content %}
<h1>Cards</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th colspan="4"></th>
			<th colspan="4">Normal</th>
			<th colspan="4">Idolised</th>
			<th colspan="3"></th>
		</tr>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Attribute</th>
			<th>Rarity</th>
			<th>HP</th>
			<th>Smile</th>
			<th>Pure</th>
			<th>Cool</th>
			<th>HP</th>
			<th>Smile</th>
			<th>Pure</th>
			<th>Cool</th>
			<th>Appeal</th>
			<th>Centre Skill</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="15">
				<a href="{{ url_for('cards.create') }}" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus"></span> Add new card
				</a>
			</td>
		</tr>
	</tfoot>
	<tbody>
		{% for card in cards %}
			<tr>
				<td>{{ card.id }}</td>
				<td>{{ card.name }}</td>
				<td>{{ card.attribute.name }}</td>
				<td>{{ card.normal_state.rarity.name }}</td>
				<td>{{ card.normal_state.hp }}</td>
				<td>{{ card.normal_state.smile }}</td>
				<td>{{ card.normal_state.pure }}</td>
				<td>{{ card.normal_state.cool }}</td>
				<td>{{ card.idolised_state.hp }}</td>
				<td>{{ card.idolised_state.smile }}</td>
				<td>{{ card.idolised_state.pure }}</td>
				<td>{{ card.idolised_state.cool }}</td>
				<td>{{ card.appeal.name }}</td>
				<td>{{ card.skill.name }}</td>
				<td>
					<div class="btn-group">
						<a href="{{ url_for('cards.edit', card_id=card.id) }}" class="btn btn-info btn-xs">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<a href="#" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
