
@import 'macros.less';

.clear:before, .clear:after {content: "\0020"; display: block; height: 0; overflow: hidden;}
.clear:after {clear: both;}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #f9f9f9;
	font-family: 'Roboto', sans-serif;
}

.page-width {
	width: 1140px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.cyan {
	color: white;
	background-color: #00bcd4;
}

header {
	height: 480px;

	.titles {
		height: 240px;
		position: relative;
	}

	h1 {
		position: absolute;
		bottom: 0;

		font-size: 112px;
		line-height: 120px;
		font-weight: 300;

		.opacity(80);
	}

	.context {
		font-size: 32px;
		.opacity(60);

		position: absolute;
		bottom: 120px;
	}
}

.sheet {
	margin: -240px 0 120px;
	padding: 4px;

	background-color: white;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.45);
}

.card-grid {
	margin: -4px 0 0 -4px;

	.card {
		width: 138px;
		height: 184px;
		margin: 4px 0 0 4px;

		position: relative;
		float: left;

		background-color: #aaaaaa;

		cursor: pointer;

		.caption {
			width: 100%;
			height: 46px;

			position: absolute;
			bottom: 0;

			color: white;
			font-size: 24px;
			line-height: 46px;

			// Colours
			&.smile {
				.rgba(255, 102, 155, 0.75);
			}

			&.pure {
				.rgba(110, 235, 133, 0.75);
			}

			&.cool {
				.rgba(92, 204, 244, 0.75);
			}

			// UR/UR+ stripes
			&.ur {
				background-image: url('../img/ur-stripes.png');
			}
	
			// Text alignment
			.left {
				padding-left: 10px;
				float: left;
			}

			.right {
				padding-right: 10px;
				float: right;
			}
		}
	}
}
