{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>Skills</h1>
<table class="table table-bordered sortable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Bonus Attribute</th>
			<th>Scale Attribute</th>
			<th>Scale</th>
			{% if logged_in %}<th></th>{% endif %}
		</tr>
	</thead>
	{% if logged_in %}
		<tfoot>
			<tr>
				<td colspan="6">
					<a href="{{ url_for('cards.skills_create') }}" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-plus"></span> Add new skill
					</a>
				</td>
			</tr>
		</tfoot>
	{% endif %}
	<tbody>
		{% for skill in skills %}
			<tr>
				<td>{{ skill.name }}</td>
				<td>{{ skill.description or '' }}</td>
				<td>{{ (skill.bonus_attribute or '')|capitalize }}</td>
				<td>{{ (skill.scale_attribute or '')|capitalize }}</td>
				<td>{{ skill.scale or '' }}{% if skill.scale %}%{% endif %}</td>
				{% if logged_in %}
					<td>
						<a href="{{ url_for('cards.skills_edit', skill=skill.id) }}" class="btn btn-info btn-xs">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						{{ f.delete_button(delete_form(), url_for('cards.skills_delete', skill=skill.id)) }}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
