
body {
	padding-top: 70px;
}

table .header-sort-up, table .header-sort-down {
	background: #f5f5f5 url('../img/table-arrows.png') 100% 0 no-repeat;
}

table .header-sort-up {
	background-position: 100% -40px;
}

/* For rows in tables hidden to other users */
.invisble {
	color: #aaa;
}
