{% extends "base.html" %}

{% block content %}
<h1>Appeals</h1>
<table class="table table-bordered sortable">
	<thead>
		<tr>
			<th colspan="2"></th>
			<th colspan="2">Effect</th>
			<th colspan="3">Proc</th>
			{% if logged_in %}<th></th>{% endif %}
		</tr>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>Modifier</th>
			<th>Statistic</th>
			<th>Count</th>
			<th>Chance</th>
			{% if logged_in %}<th></th>{% endif %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="{% if logged_in %}8{% else %}7{% endif %}">
				<a href="{{ url_for('cards.appeals_create') }}" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus"></span> Add new appeal
				</a>
			</td>
		</tr>
	</tfoot>
	<tbody>
		{% for appeal in appeals %}
			<tr>
				<td>{{ appeal.name }}</td>
				<td>{{ appeal.description or '' }}</td>
				<td>{{ (appeal.effect or '')|capitalize }}</td>
				<td>{{ appeal.effect_modifier or '' }}</td>
				<td>{{ (appeal.proc_statistic or '')|capitalize }}</td>
				<td>{{ appeal.proc_count or '' }}</td>
				<td>{{ appeal.proc_chance or ''}}{% if appeal.proc_chance %}%{% endif %}</td>
				{% if logged_in %}
					<td>
						<div class="btn-group">
							<a href="{{ url_for('cards.appeals_edit', appeal=appeal.id) }}" class="btn btn-info btn-xs">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
							<a href="{{ url_for('cards.appeals_delete', appeal=appeal.id) }}" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</div>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
