{% extends 'base.html' %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>{{ mode|capitalize }} Account</h1>
<form action="" method="post" role="form">
	{{ form.hidden_tag() }}

	{{ f.errors(form) }}

	<div class="row">
		<div class="col-md-3">{{ f.field(form.region) }}</div>
		<div class="col-md-4">{{ f.field(form.name) }}</div>
		<div class="col-md-4">{{ f.field(form.friend_code) }}</div>
		<div class="col-md-1">{{ f.field(form.visible) }}</div>
	</div>

	{{ f.field(form.notes) }}

	{# Submit #}
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
</form>
{% endblock %}
