{% extends "base.html" %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>Accounts</h1>

<table class="table table-bordered sortable">
	<thead>
		<tr>
			<th>User</th>
			<th>Region</th>
			<th>Name</th>
			<th>Friend Code</th>
			<th>Notes</th>
			{% if logged_in %}<th></th>{% endif %}
		</tr>
	</thead>
	{% if logged_in %}
		<tfoot>
			<tr>
				<td colspan="6">
					<a href="{{ url_for('accounts.create') }}" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-plus"></span> Add new account
					</a>
				</td>
			</tr>
		</tfoot>
	{% endif %}
	<tbody>
		{% for account in accounts %}
			<tr>
				<td>{{ account.user.id }}</td>
				<td>{{ account.region.name }}</td>
				<td>{{ account.name }}</td>
				<td>{{ account.friend_code }}</td>
				<td>{{ account.notes }}</td>
				{% if logged_in %}
					<td>
						{% if account.user.id == current_user.id %}
							<a href="{{ url_for('accounts.edit', user=account.user.id, region=account.region.id) }}" class="btn btn-info btn-xs">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
							{{ f.delete_button(delete_form(), url_for('accounts.delete', user=account.user.id, region=account.region.id)) }}
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
