{% extends 'base.html' %}
{% import 'macro/form.html' as f %}

{% block content %}
<h1>{{ mode|capitalize }} Skill</h1>
<form action="" method="post" role="form">
	{{ form.hidden_tag() }}

	{{ f.errors(form) }}

	{# Metadata #}
	<div class="row">
		<div class="col-md-4">{{ f.field(form.name) }}</div>
		<div class="col-md-8">{{ f.field(form.description) }}</div>
	</div>

	{# Effect #}
	<div class="row">
		<div class="col-md-2">{{ f.field(form.bonus_attribute) }}</div>
		<div class="col-md-2 col-md-offset-2">{{ f.field(form.scale_attribute) }}</div>
		<div class="col-md-2">{{ f.field(form.scale, suffix='%') }}</div>
	</div>

	{# Submit #}
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
</form>
{% endblock %}
