<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if title %}{{ name }} ~ {% endif %}LL:SIF DB</title>

	{% include 'include/css.html' %}
</head>
<body>
	<!-- i'll work nav out later
	{% include 'include/header.html' %}
	-->

	<header class="cyan">
		<div class="page-width titles">
			<div class="context">{% block context %}{% endblock %}</div>
			<h1>{% block title %}{% endblock %}</h1>
		</div>
	</header>

	<div class="sheet page-width">
		{# Flash messages #}
		<!-- will add later
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		-->

		
		{% block content %}{% endblock %}
	</div>

	{# Putting JS at bottom because >muh async #}
	{% include 'include/js.html' %}
</body>
</html>
